@font-face {
    font-family: 'NeueHaasGroteskText Pro';
    src: url('NHaasGroteskTXPro-55Rg.woff2') format('woff2'),
        url('NHaasGroteskTXPro-55Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

